// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#p_HTML, #p_jQuery, #p_DB {
  width: 800;
  height: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}